{{#> toolbar}}
    {{#> toolbar-group}}
        <span>Content</span>
        <span>Content</span>
    {{/toolbar-group}}
    {{#> toolbar-group}}
        <span>Content</span>
        <span>Content</span>
    {{/toolbar-group}}
{{/toolbar}}